.bg-custom {
    background-color: rgb(255, 140, 66) !important;
}

#top-spacing {
    margin-top: 10px;
}
.footer {
    color: black;
    background-color: rgb(255, 140, 66) !important;
    text-align: left;
}

.carousel-item-format {
    color: white;
    padding-bottom: 100vh;
    text-align: center;
}

.can-focus:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    animation-duration: 2s;
}

.pl-75 {
    padding-left: 75vh;
}