
.body {
    background-color: rgb(199, 185, 185);
}    
#seekingJob {
    color: green
}
#mainHeading {
    text-align: center;
}
.divider{
    width:15px;
    height:auto;
    display:inline-block;
}

.header {
    background-color: aqua
}
#gitHubExamples {
    
}

#aboutMeButton {
    width: 20%; 
    margin-right: 49%;
    font-size-adjust: inherit;
}
#contactButton {
    width: 20%;
    font-size-adjust: inherit;
}

#aboutMeButton:hover {
    background-color: rgba(168, 163, 156, 0.600);
    
}

#contactButton:hover {
    background-color: rgba(168, 163, 156, 0.600);

}