
.body {
    background-color: rgb(199, 185, 185);
}    
#mainHeading {
    text-align: center;
}
.header {
    background-color: aqua
}
#noSpacing {
    padding: 0%;
    margin-right: 0%;
    margin-left: 0%;
}
.informationTextTitle {
    font-size: 35px;
    font-stretch: expanded
}
.informationText {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}


@media screen and (min-width: 800px) {
    #homePageButton {
        width: 10vw; 
        margin-right: 79vw;
        }
    }

@media screen and (min-width: 800px) {
#aboutMeButton {
    width: 10vw; 
    margin-right: 79vw;
    }
}
@media screen and (min-width: 800px) {
#contactButton {
    width: 10vw;    
    }
}

#aboutMeButton:hover {
    background-color: rgba(168, 163, 156, 0.600);
    
}

#contactButton:hover {
    background-color: rgba(168, 163, 156, 0.600);
}
#homePageButton:hover {
    background-color: rgba(168, 163, 156, 0.600);
}